#notificationWrapper{
	width: 100%;
	position: fixed;
	top: 10px;
	left: 0px;
	right: 0px;
	text-align: center;
	z-index: 1000;
}
#notificationPanel{
	white-space: nowrap;
	display:inline-block;
	margin-left: auto;
	margin-right: auto;
	background-color: #1c8adb;
	color: white;
	padding:2px;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 15px;
	font-size: 14px;
}
#notificationPanelMessage{
	display: inline-block;
	text-align: left;
}
#notificationPanel .notification{
	font-family: proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
	float: left;
}
#notificationPanel .notificationdismiss{
	cursor: pointer;
	display: inline-block;
	padding-left: 5px;
}