{% extends 'header.html' %}


{% block body %}
{% load static %}

<div id='dashboardWrapper' class='container-fluid'>
	<div class="row">
		<!-- ======= Musics Grid ========= -->
		<div class="col-sm-8" id='musicsWrapper'>
			{% for sn, title, artist in songs %}
			<div class='musicsList' onClick='playThisSong({{ sn }});'>
				<span class='albumImg'>
					<img src="thumbnail/{{ sn }}/">
					<span class="fas dashboardSongDeleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" onclick='$("#songDeleteConfirmButton").attr("data-song-id", {{ sn }}); deleteIconClick(event);'>&#xf2ed;</span>
				</span>
				<span class='title'>
					{{ title }}
				</span>
				<span class='artist'>
					{{ artist }}
				</span>
			</div>
			{% endfor %}
		</div>

		<!-- ======== Action Sidebar ======= -->
		<div class="col-sm-4" id='actionsWrapper'>
			<label for='imgUploadFormButton' class="upload">
				<form>
				<input type="file" name="file" id='songsInputField' multiple>{% csrf_token %}
				</form>
				<p>Upload</p>
			</label>

			<div id="musicPlayer">
				<span class='albumImg'><img src="{% static 'dashboard/images/default-thumbnail.png' %}"></span>

				<div class='musicPlayerMiscWrapper'>
					<div id='mainAudioPlayer'>
						<audio><source src="https://cdn.plyr.io/static/blank.mp4" type='audio/mp3' /></audio>
					</div>
					<span class='playAllButton'><span class="fas fa-forward"></span> Play All </span>
				</div>

				<!-- Volume Slider -->
				<div class='musicPlayerVolumeManager'>
					<div id='mainAudioPlayerVolume'></div>
				</div>
			</div>
		</div>
		<!-- ================== Action Sidebar Ends=============== -->
	</div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade " id="deleteConfirmationModal">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Delete this song?</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body d-flex justify-content-center">
    	<button type="button" class="btn btn-danger p-2" id='songDeleteConfirmButton' data-song-id='' onclick='deleteThisSong(event, $("#songDeleteConfirmButton").attr("data-song-id")); $("#deleteConfirmationModal").modal("hide");'>Delete</button>
        <button type="button" class="btn btn-primary p-2" data-dismiss="modal">Close</button>
    </div>
    
  </div>
</div>
</div>


{% endblock %}