{% extends 'header.html' %}


{% block body %}
{% load static %}

<div id='dashboardWrapper' class='container-fluid'>
	<div class="row">
		<div class='col-sm-8'>
			<div class="allMusicsHere">
				<!--======== display most played songs here============-->
				<h3 class="catHeading"><span class='fas fa-heart'></span>&nbsp;Most Played</h3>
				<div class="catMostPlayed" id='catMostPlayed'>
					{% if mostPlayedSongs|length != 0 %}
						{% for sn, title, artist in mostPlayedSongs %}
						<div class='musicsList' onClick='playThisSong({{ sn }}, "{{ title }}");'>
							<span class='albumImg'>
								<img src="thumbnail/{{ sn }}/">
								<span class="fas dashboardSongDeleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" onclick='$("#songDeleteConfirmButton").attr("data-song-id", {{ sn }}); deleteIconClick(event);'>&#xf2ed;</span>
							</span>
							<span class='title'>
								{{ title }}
							</span>
							<span class='artist'>
								{{ artist }}
							</span>
						</div>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger alert-dismissible fade show mt-3 m-2">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Empty!</strong> You've not uploaded any songs yet.
						</div>
					{% endif %}
				</div>


				<!-- ======= All Musics Grid ========= -->
				<div class="d-flex flex-row allSongsCat">
					<div class="p-2">
						<h3 class="catHeading"><span class='fas fa-music'></span>&nbsp;<span id='allSongsCatTitle'>Recently Added</span>&nbsp;<span class="fas fa-angle-down"></span>&nbsp;</h3>
						<div class="form-group">
					      	<select class="form-control" id="sortbylist" name="sortbylist">
					      		<option value='0'>Recently Added</option>
						        <option value='1'>Most played</option>
						        <option value="2">Alphabetically</option>
					      	</select>
					    </div>
					</div>
				</div>

				<div id='musicsWrapper'>
					{% if songs|length != 0 %}
						{% for sn, title, artist in songs %}
						<div class='musicsList' onClick='playThisSong({{ sn }}, "{{ title }}");'>
							<span class='albumImg'>
								<img src="thumbnail/{{ sn }}/">
								<span class="fas dashboardSongDeleteButton" data-toggle="modal" data-target="#deleteConfirmationModal" onclick='$("#songDeleteConfirmButton").attr("data-song-id", {{ sn }}); deleteIconClick(event);'>&#xf2ed;</span>
							</span>
							<span class='title'>
								{{ title }}
							</span>
							<span class='artist'>
								{{ artist }}
							</span>
						</div>
						{% endfor %}
					{% else %}
						<div class="alert alert-danger alert-dismissible fade show mt-3 m-2 mb-4">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<strong>Empty!</strong> You've not uploaded any songs yet.
						</div>
					{% endif %}
				</div>
				<!--================ Load More Button =========================-->
				<button type="button" class="btn btn-outline-secondary loadMoreButton" onclick="loadmoremusics(this);">
					Load more
				</button>
				<!--================ Load more button ends here =======================-->
			</div>
		</div>

		<!-- ======== Action Sidebar ======= -->
		<div class="col-sm-4" id='actionsWrapper'>
			<label for='imgUploadFormButton' class="upload">
				<form>
				<input type="file" name="file" id='songsInputField' multiple>{% csrf_token %}
				</form>
				<p>Upload</p>
			</label>

			<div id="musicPlayer">
				<span class='albumImg'><img src="{% static 'dashboard/images/default-thumbnail.png' %}"></span>

				<div class='musicPlayerMiscWrapper'>
					<div id='mainAudioPlayer'>
						<audio><source type='audio/mp3' /></audio>
					</div>
					<span class='songTitle'><span class="fas fa-music" id='songTitle'> Not Playing</span></span>
					<span class='playAllButton'><span class="fas fa-forward"></span> Play All </span>
				</div>

				<!-- Volume Slider -->
				<div class='musicPlayerVolumeManager'>
					<div id='mainAudioPlayerVolume'></div>
				</div>
			</div>
		</div>
		<!-- ================== Action Sidebar Ends=============== -->
	</div>
</div>


<!-- Delete Confirmation Modal -->
<div class="modal fade " id="deleteConfirmationModal">
<div class="modal-dialog modal-sm">
  <div class="modal-content">
  
    <!-- Modal Header -->
    <div class="modal-header">
      <h4 class="modal-title">Delete this song?</h4>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    
    <!-- Modal body -->
    <div class="modal-body d-flex justify-content-center">
    	<button type="button" class="btn btn-danger p-2" id='songDeleteConfirmButton' data-song-id='' onclick='deleteThisSong(event, $("#songDeleteConfirmButton").attr("data-song-id")); $("#deleteConfirmationModal").modal("hide");'>Delete</button>&#160;&#160;
        <button type="button" class="btn btn-primary p-2" data-dismiss="modal">Close</button>
    </div>
    
  </div>
</div>
</div>


{% endblock %}