{% extends 'header.html' %}


{% block body %}
{% load static %}

<div id='dashboardWrapper' class='container-fluid'>
	<div class="row">
		<!-- ======= Musics Grid ========= -->
		<div class="col-sm-8" id='musicsWrapper'>
			{% for sn, title, artist in songs %}
			<div class='musicsList' onClick='playThisSong({{ sn }});'>
				<span class='albumImg'>
					<img src="thumbnail/{{ sn }}/">
					<span class="fas" id='dashboardSongDeleteButton' onClick="deleteThisSong(event,{{ sn }});">&#xf2ed;</span>
				</span>
				<span class='title'>
					{{ title }}
				</span>
				<span class='artist'>
					{{ artist }}
				</span>
			</div>
			{% endfor %}
		</div>

		<!-- ======== Action Sidebar ======= -->
		<div class="col-sm-4" id='actionsWrapper'>
			<label for='imgUploadFormButton' class="upload">
				<form>
				<input type="file" name="file" id='songsInputField' multiple>{% csrf_token %}
				</form>
				<p>Upload</p>
			</label>

			<div id="musicPlayer">
				<span class='albumImg'><img src="{% static 'dashboard/images/default-thumbnail.png' %}"></span>

				<div class='musicPlayerMiscWrapper'>
					<div id='mainAudioPlayer'>
						<audio><source src="" type='audio/mp3' /></audio>
					</div>
					<span class='playAllButton'><span class="fas fa-forward"></span> Play All </span>
				</div>

				<!-- Volume Slider -->
				<div class='musicPlayerVolumeManager'>
					<span class="musicPlayerVolumeWrapper">
						<span class="musicPlayerVolumeSlider"></span>
					</span>	
				</div>
			</div>
		</div>
		<!-- ================== Action Sidebar Ends=============== -->
	</div>
</div>


{% endblock %}